/********************************** INITIAL CODE **************************/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html 
{
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
*
{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    margin: 0; 
    box-sizing: border-box; 
}

body 
{
    font-size: 16px;
    line-height: 20px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h4
{
    text-align: center;
}

#main-h1
{
    text-align: center;
    margin: 10px;
} 

/********************************** HEADER CODE **************************/
#img-logo
{
    max-width: 15%;
    min-width: 15%;
}

.w-preston-div picture img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

.div-article article img
{
    max-width: 70%;
    min-width: 20%;
    margin: auto;
    padding: 20px;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #fb6c03;
    text-align: center;
    color: white;
}

#header-site
{
    font-family: 'Tangerine', serif;
    font-size: 45px;
    text-shadow: 5px 5px 5px #aaa;
    padding: 5px;
    font-weight: bold;
} 

header img, .headings 
{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.motto
{
    font-style: italic;
    font-size: 15px;
    margin: 5px;
    color: black;
}

/********************************** STATS OVERLAY CODE **************************/
.w-preston-div
{
    position: relative;
    margin: 10px auto;
}
.w-preston-div .preston-stats 
{
    position: absolute;
	top: 2em;
	left: 10em;
    background:  #086155;
    opacity: 0.8;
    border: 0px;
    padding: 1.2rem;
	box-shadow: 0 0 15px rgb(75, 72, 72);
}

.preston-stats p
{
    text-align: right;
    color: white;
}

.preston-stats p span
{
    text-align: left;
    color: yellow;
}

.w-preston-div .text-overlay h3
{
    text-align: center;
    color: black;
}

.w-preston-div .text-overlay 
{
    position: absolute;
    bottom: 2em;
    right: 10em;
    background:  white;
    opacity: 0.7;
    border: 0px;
    padding: 0.2rem;
	box-shadow: 0 0 5px rgb(75, 72, 72);
}

.text-overlay:before {
    content: "Small";
  }

/********************************** ARTICLE CODE **************************/
article  
{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin: 40px;
    padding: 10px;
    background: #e7e7e5;
    color: black;
}

.articles
{
    margin: 5px 144px 5px 144px;
}

.articles ul
{
list-style-type: none;
}

#h4-events
{
    font-size: 30px;
    padding: 10px;
}

/********************************** RODAPE PAGE CODE **************************/
.final-page img
{
  max-width: 30%;
  min-width: 25%;
  position: relative;
  margin: 10px;
  border: 0px;
  box-shadow: 0 0 15px rgb(75, 72, 72);
}

.final-page  
{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin: 40px;
    padding: 10px;
    background: #e7e7e5;
    color: black;
}

footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    background: #fb6c03;
    color: black;
    text-align: center;
}

/********************************** SOCIAL NETWORK ICONS CODE **************************/
.fa 
{
    padding: 2px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-whatsapp {
    background: #0f8022;
    color: white;
  }  

/********************************** CONFG SCREEN CODE **************************/
.preston-5-day {display: none;}
#h3-5days{display: none;}

/********************************** MENU NAVIGATION CODE **************************/
.active 
{
    background: green;
}

nav 
{
    display: flex;
    background-color: rgb(86, 167, 156);
    justify-content: center;
    font-weight: bold;

}

.navigation 
{ 
    list-style: none;
    text-align: center;
    display: flex;
	flex-direction: column;
}

.navigation li:first-child 
{
     display: block;
}

.navigation li 
{
    display: none;
}

.navigation a 
{
    display: block;	
    color: #fff; 
    padding:.75rem; 
    text-align: center;	
    text-decoration: none;}

.navigation a:hover 
{
    color: #000; 
    background-color:rgb(25, 95, 86);
}

.responsive li 
{
    display: block; 
}

/********************************** GRID CODE (TO GALLERY AND HOME GRID IMAGES) **************************/
.grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
  
.grid-item 
{
    box-shadow: 0 0 1px #333;
}

.grid-item img 
{
     width: auto; 
     height: auto;
}

figure 
{
    display: table;
}

/********************************** HOME PAGE GALLERY CODE **************************/
.fc1 
{
    text-align: center;
    display: table-caption; 
    caption-side: top;
    padding: 15px;
}

figcaption h3
{
    font-size: 23px;
    font-weight: bold;
    color: rgb(13, 80, 30);
    margin: 8px;
}

figcaption h4 
{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: black;
    margin: 10px;
}

figcaption p 
{
    font-size: 12px;
    font-weight: bold;
    color: black;
}

/********************************** GALLEY CODE **************************/
.fc2
{
    text-align: left;
    display: table-caption; 
    caption-side: bottom;
    font-size: 10px;
    padding: 1px;
}

/********************************** FORM STORM CODE **************************/
form 
{
    align-content: center;
}
form label.top, form div
{
	display: block;
	padding-top: 0.5rem;
	color: #0d311f;
    font-size: 13px;
    text-align:center;
}

form label.top input , form label.top select, form label.top textarea 
{
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px rgb(5, 36, 18);
	border-radius: 3px;
	padding: .75rem;
	color: rgb(14, 128, 33);
	width: 100%;
	max-width: 28rem;
	background-color: rgba(0,0,0,0.1);
    margin:0 auto;
}

form input.submitBtn
{
    display: block;
    border:none;
	background-color: green;
	color: white;
	border-radius: 2rem;
	padding: 1rem 2rem;
    width: 100%;
    max-width: 28rem;
    margin:12px auto;
}

form label.top input:required
{
	border-top: red solid 10px;
}

form label.top input:required:valid
{
	border-top: green solid 10px;
}

form .slider 
{
    -webkit-appearance: none;
    display: block;
    width: 100%;
    max-width: 28rem;
    margin:12px auto;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
form .slider:hover
{
    opacity: 1;
}
  
form .slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
  
form .slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
  
form fieldset
{
    border-radius: .6rem;
    border-color: #000;
    border: solid 1px rgb(5, 36, 18);
    width: 100%;
    max-width: 28rem;
    margin:12px auto;
    text-align:center;
    font-size: 13px;
}

.radio
{
    padding: 2rem;
    
}	

#slider-value
{
    max-width: 28rem;
    margin:0 auto;
    text-align:center;
    font-size: 13px;  
}