*
{ 
    margin: 0; 
    box-sizing: border-box; 
}

#img-logo
{
    max-width: 15%;
    min-width: 8%;
    height: auto;
}

header
{
	margin: 10px auto;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

#header-h1
{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-shadow: 5px 5px 5px #aaa;
} 

header img, .headings 
{
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
}

.motto
{
    font-style: italic;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

nav
{
    padding: 1em 2em;
    background: green;
}
nav ul
{
    margin:10px;
    padding: 0px;
}
nav li
{
    display: block;
    margin-right: 1em;
}

nav li a
{
    color: #fff;
}
nav li > a 
{
    text-decoration: none;
}

.active 
{
    background-color: #4CAF50;
}
body 
{
    font-size: 16px;
    line-height: 22px;
    font-family: Ubuntu, sans-serif;
    color: #990000;
}

h1  
{
    font-size: 25px;
    color: #000000;
    text-align: center;
}

h2  
{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

footer 
{
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 900px;
    font-size: 10px;
    text-align: center;
}
