#img-logo
{
    max-width: 15%;
    min-width: 8%;
    height: auto;
}

body 
{
	background-color: #bbbb;
}

header
{
	margin: 10px auto;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

#header-h1
{
    font-family: 'Tangerine', serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
} 
.motto
{
    font-style: italic;
    font-size: 20px;
}

header img, .headings 
{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
}