table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    padding: .5rem;
    font-family: Ubuntu, sans-serif;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 1rem;
}

thead {
    background-color: #7fb9c2;
}

h1,
h2 {
    margin: 0;
}

.colheader {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}