/* Media Query for large screens */
@media only screen and (min-width: 992px) 
{
    /********************************** MENU NAVIGATION CODE **************************/
    .navigation li:first-child 
    { 
        display: none;	
    }
        
    .navigation li 
    {
        display: inline-block;
    }	
    
    .navigation a:hover 
    {
        color: white; 
        background-color:#12249d;
    }
        
    .navigation a
    {
        font-size: 20px;
    }

    .navigation, .container 
    {
         flex-direction: row; 
    }

    /* Weather geader information */
    .header-grid-container
    {
        grid-template-columns: 1fr 1fr;
    }

    #temp-weather
    {
        font-size: 25px;
    }

    #desc-weather, #city-weather
    {
        margin-top: -28px;
    }

    #icon-weather, #temp-weather
    {
        margin-top: -15px;
    }

    #icon-weather, #desc-weather
    {
    display: grid;
    }


    /****************************************************************************** Header and Foot code */

    header, footer
    {
        gap: 15px;
    }

    footer 
    {
        margin-top: 10px;
        font-size: 14px;
    }

    #header-text
    {
        font-size: 40px;
        text-shadow: 0 0 13px #FF0000, 0 0 5px white;
    } 

    #header-logo
    {
        max-width: 100%;
    }

    /********************************** GRID CODE (TO GALLERY AND HOME GRID IMAGES) **************************/
    .temple-grid-container 
    {
        grid-template-columns: 1fr 1fr;
    }
    
    .fc1
    {
        font-size: 25px;
    }

    .fc2
    {
        font-size: 15px;
    }

    /***************************************************************************** Slide Show - Home Page Code */
    .slideshow-container {
        max-width: 500px;
        padding-top: 20px;
    }

    .mySlides 
    {
    max-width: 500px;
    }


    /********************************** FORM STORM CODE **************************/
    form label.top, form div
    {
        padding-top: 0.3rem;
        font-size: 12px;
    }

    form label.top input , form label.top select, form label.top textarea 
    {
        padding: .75rem;
        width: 100%;
        max-width: 24rem;
    }

    form input.submitBtn
    {
        width: 100%;
        max-width: 28rem;
        font-size: 15px;
        font-weight: bold;
    }

    form label.top input:required
    {
        border-right: red solid 20px;
    }

    form label.top input:required:valid
    {
        border-right: rgb(16, 75, 16) solid 20px;
    }

    /********************************************* CONTACT PAGE CODE ***********************************/
    .contact-grid-container 
    {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    #contact-map 
    {
     width: 450px; 
     height: 330px;
     box-shadow: 0 0 7px #333;
    }

    /********************************************* SERVICES PAGE CODE ***********************************/
    .services-grid-container 
    {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-items: left;
        align-items: center;
        margin-left: 20px;
    }

    .links-home:hover
    {
        box-shadow: 0 0 20px #333;
    }

    /********************************************* SUITES PAGE CODE ***********************************/
    .suites-grid-container 
    {
        grid-template-columns: 1fr 1fr;
    }
    
    .suites-grid-item:hover
    {
        box-shadow: 0 0 20px #333;
    }
}