/* Media Query for medium + screens */
@media only screen and (min-width: 768px) 
{
    /********************************** GRID CODE (TO GALLERY AND HOME GRID IMAGES) **************************/
    .temple-grid-container 
    {
        grid-template-columns: 1fr 1fr;
    }

    /********************************************* SERVICES PAGE CODE ***********************************/
    .services-grid-container 
    {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-items: left;
        align-items: center;
        margin-left: 20px;
    }
}