/********************************** INITIAL CODE **************************/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html 
{
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
*
{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    margin: 0; 
    box-sizing: border-box; 
}

/***************************************************************************** general code */
body
{
    color: black;
}

/****************************************************************************** Header and Foot code */
header, footer
{
    font-family: 'Anton', sans-serif;
    display: grid;
    gap: 5px;
    justify-items: center;
    align-items: center;
    background-color: #12249D ;
    text-align: center;
    color: white;
}

header
{
    grid-template-columns: 1fr 1fr 1fr;
}

footer 
{
    margin-top: 5px;
    padding: 12px;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}

#header-text
{
    font-size: 20px;
    text-shadow: 0 0 5px #FF0000, 0 0 3px white;
} 

#header-logo
{
    max-width: 70%;
}

#footer-weather-link
{
    color: white;
}

.fa {
    padding: 2px;
    font-size: 35px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 45%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-whatsapp {
    background: #0f8022;
    color: white;
  }  

/*************************************************************************** Weather Header information */
.header-grid-container
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#temp-weather
{
    font-size: 15px;
}

#icon-weather, #desc-weather
{
    display: none;
}

/***************************************************************************** Slide Show - Home Page Code */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    padding: 10px;
}

.mySlides 
{
  display: none;
  max-width: 300px;
  border: solid 1px black;   
}

.prev,
.next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 6px 6px 6px 6px
}

.prev 
{
    left: -50px;
    border-radius: 6px 6px 6px 6px
}

.prev:hover,
.next:hover 
{
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text 
{
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot 
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,
.dot:hover 
{
    background-color: #717171;
}

/***************************************************************************** Main Grid Home **************/
.home-div
{
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
    align-items: center;
}

/************************************************************************************** Responsive Menu Code */
nav 
{
    display: flex;
    background-color: #6873c0;
    justify-content: center;
    color: white;

}

.navigation 
{ 
    list-style: none;
    text-align: center;
    display: flex;
	flex-direction: column;
}

.navigation li:first-child 
{
     display: block;
}

.navigation li 
{
    display: none;
}

.navigation a 
{
    display: block;	
    color: #fff; 
    padding:.75rem; 
    text-align: center;	
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.navigation a:hover 
{
    color:white; 
    background-color:#12249d;
}

.responsive li 
{
    display: block; 
}

/********************************** GRID CODE (TO TEMPLE GALLERY AND HOME GRID IMAGES) **************************/
.temple-grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
  
.temple-grid-item 
{
    box-shadow: 0 0 10px #333;
}

.temple-grid-item img 
{
     width: auto; 
     height: auto;
}

picture 
{
    display: table;
}

.links-home
{
    text-decoration: none;
}

.fc1
{
    text-align: center;
    display: table-caption; 
    caption-side: top;
    font-size: 15px;
    padding: 2px;
    font-weight: bold;
    background-color: rgb(114, 156, 184); 
    text-transform: capitalize;
}

.fc2
{
    text-align: left;
    display: table-caption; 
    caption-side: bottom;
    font-size: 10px;
    padding: 8px;
    background-color: rgb(238, 218, 226)
}

figcaption p 
{
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 3px;
}

/********************************** FORM STORM CODE **************************/
form 
{
    align-content: center;
}
form label.top, form div
{
	display: block;
	padding-top: 0.2rem;
	color: #0f0942;
    font-size: 10px;
    text-align:center;
}

form label.top input , form label.top select, form label.top textarea 
{
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #0f0942;
	border-radius: 3px;
	padding: .55rem;
	color: rgb(95, 118, 167);
	width: 80%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);
    margin:0 auto;
}

form input.submitBtn
{
    display: block;
    border:none;
	background-color: rgb(40, 46, 136);
	color: white;
	border-radius: 2rem;
	padding: 1rem 2rem;
    width: 100%;
    max-width: 20rem;
    margin:12px auto;
    font-size: 13px;
    font-weight: bold;

}

form label.top input:required
{
	border-right: red solid 10px;
}

form label.top input:required:valid
{
	border-right: rgb(16, 75, 16) solid 10px;
}
  
form fieldset
{
    border-radius: .6rem;
    border-color: #000;
    border: solid 1px rgb(5, 36, 18);
    width: 80%;
    max-width: 20rem;
    margin:12px auto;
    text-align:center;
    font-size: 10px;
}

.radio
{
    padding: 1rem;
    
}

/********************************************* CONTACT PAGE CODE ***********************************/
.contact-h3
{
    text-align: center;
    padding: 10px;
}

.contact-grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
  
.contact-grid-item 
{
    padding: 10px;
}

#contact-map 
{
     width: 280px; 
     height: 200px;
     box-shadow: 0 0 5px #333;
}

#contact-info-para
{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/********************************************* SERVICES PAGE CODE ***********************************/
.services-grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}
  
.services-ul
{
    padding: 15px;
}

/********************************************* SUITES PAGE CODE ***********************************/
.suites-grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}