body, h1
{
    background-color: gray;
    text-align: center;
}

.showSlide
{  
    display: none  
}  
    
.showSlide img 
{  
    width: 100%;  
}

.slidercontainer 
{  
    max-width: 400px;  
    position: relative;  
    margin: auto;  
}

.button
{
    top: 5px;
    position: relative;
    text-align: center;
}

.left, .right 
{  
    cursor: pointer;  
    display:inline-block;
    padding: 20px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: .8s ease;  
    border-radius: 0 6px 6px 0;
}

.left
{
    border-radius: 6px 0 0 6px;
}
  
.left:hover, .right:hover 
{  
    background-color: rgba(71, 13, 13, 0.8);  
}

.content 
{  
    color: black;  
    font-size: 40px;  
    padding: 8px 12px;  
    position: absolute;  
    top: -60px;  
    width: 100%;  
    text-align: center;  
}

.active 
{  
    background-color: #717171;  
}

/* Fading animation */  
.fade 
{  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  

@-webkit-keyframes fade 
{  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade 
{  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}