*
{ 
    margin: 0; 
    box-sizing: border-box; 
}

#img-logo
{
    max-width: 10%;
    min-width: 5%;
    height: auto;
}

.w-preston-div img
{
    max-width: 100%;
    min-width: 70%;
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.div-article article img
{
    float: right;
    top: 25px;
	right: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

header
{
    margin: 0px;
    background-color: #fb6c03;
    text-align: center;
    color: white;
}

#header-p
{
    font-family: 'Tangerine', serif;
    font-size: 45px;
    text-shadow: 5px 5px 5px #aaa;
    padding: 5px;
    font-weight: bold;
} 

header img, .headings 
{
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
}

.motto
{
    font-style: italic;
    font-size: 20px;
    margin: 15px;
    color: black;
}

nav {margin: 0 auto; background-color: #02c2a9;	}
.navigation { list-style: none; text-align: center; }
.navigation li:first-child { display: block;}
.navigation li { display: none;}
.navigation a {	display: block;	color: black; padding: .75rem;	text-align: center;	text-decoration: none;}
.navigation a:hover {	color: black; background-color: rgb(23, 70, 52); font-weight: 700;	}
.responsive li { display: block; }

.active 
{
    background: green;
}

body 
{
    font-size: 16px;
    line-height: 22px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

.w-preston-div
{
    position: relative;
    margin: 10px auto;
}
.preston-stats 
{
	position: absolute;
	top: 25px;
	left: 25px;
    background:  #086155;
    opacity: 0.6;
    border: 0px;
    padding: 0.4rem;
	box-shadow: 0 0 15px rgb(75, 72, 72);
}

.preston-stats p
{
    text-align: right;
    color: white;
}

.preston-stats p span
{
    text-align: left;
    color: yellow;
}

.preston-stats h3
{
    text-align: center;
    color: white;
}

h4
{
    text-align: center;
}

.preston-5-day
{
    position: relative;
}
.preston-5-day h3
{
    text-align: center;
}

.preston-5-day img
{
    max-width: 100%;
    min-width: 70%;
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;}

#main-h1
{
    text-align: center;
    margin: 10px;
} 

article  
{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin: 40px;
    padding: 10px;
    background: #e7e7e5;
    color: black;
}

.final-page  
{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    margin: 40px;
    padding: 10px;
    background: #e7e7e5;
    color: black;
}

footer 
{
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    background: #fb6c03;
    color: black;
    text-align: center;
}

.fa {
    padding: 2px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-whatsapp {
    background: #0f8022;
    color: white;
  }  

  .final-page img
  {
    position: relative;
    margin: 10px;
    border: 0px;
	box-shadow: 0 0 15px rgb(75, 72, 72);
}
